{% assign model = product.title | split: ' — ' | first %}
{% assign title_split = product.title | split: ' — ' %}
{% assign device = model | split: " " | first | downcase %}
{% assign color = product.variants[0].option1 | replace: " ", "-" | downcase%}

{% comment %}Get product part from title{% endcomment %}
{% for part in title_split %}
  {% unless forloop.first %}
    {% assign title_part =  part | replace: " ", "-" | downcase %}
  {% endunless %}
{% endfor %}

<div class="size-guide">
  <span>CHOOSE SIZE:</span>{% render 'macbook-size-guide' %}
</div>

{% comment %}
  Uses mega menu to find corresponding collection and
  matches the current product type and color to find
  models with the same case
{% endcomment %}

{% unless product.type == 'Sleeves' or model == "Leather Desk Pad" or model == "Leather Mouse Pad" %}
<div onChange="linkToModel(this)" id="alternative-model-select">
  {% for link in linklists.mega-menu.links %}
    {% if link.title == "Shop by Device" %}
      {% if link.links != blank %}
        {% for child_link in link.links %}
          {% assign link_title_downcase = child_link.title | downcase %}
          {% if link_title_downcase contains device %}
            {% if child_link.links != blank %}
              {% for grandchild_link in child_link.links %}
                {% assign collection_name2 = grandchild_link.url | remove: '/collections/' %}
                {% paginate collection.products by 1000 %}
                {% for p in collections[collection_name2].products %}
                  {{ p.title }}
                  {% for tag in p.tags %}
                    {% if tag contains "colour" %}
                      {% assign color = tag | remove: "colour_" %}
                        {% if color == product.variants[0].option1 %}

                          {% if device contains 'macbook' %}
                            {% if p.title contains product.type %}
                              <option {% if p.id == product.id %}selected{% endif %} value="{{ p.url }}">
                                {{ p.title | split: ' — ' | first }}
                              </option>
                            {% endif %}
                          {% elsif product.title contains "Snap" %}
                            {% unless p.title contains "Explorer" %}
                              <option {% if p.id == product.id %}selected{% endif %} value="{{ p.url }}">
                                {{ p.title | split: ' — ' | first }}
                              </option>
                            {% endunless %}
                          {% elsif product.title contains "Explorer Black" %}
                            {% unless p.title contains "Snap" %}
                              {% unless p.title contains "Explorer Clear" %}
                                <option {% if p.id == product.id %}selected{% endif %} value="{{ p.url }}">
                                  {{ p.title | split: ' — ' | first }}
                                </option>
                              {% endunless %}
                            {% endunless %}
                          {% elsif product.title contains "Explorer Clear" %}
                            {% unless p.title contains "Snap" %}
                              {% unless p.title contains "Explorer Black" %}
                                <option {% if p.id == product.id %}selected{% endif %} value="{{ p.url }}">
                                  {{ p.title | split: ' — ' | first }}
                                </option>
                              {% endunless %}
                            {% endunless %}
                          {% else %}
                            <option {% if p.id == product.id %}selected{% endif %} value="{{ p.url }}">
                              {{ p.title | split: ' — ' | first }}
                            </option>
                          {% endif %}

                        {% endif %}
                        {% comment %}Lightning bolt tag and variant are different{% endcomment%}
                        {% if product.variants[0].option1 == 'Gold Lightning Bolt' %}
                        {% if color == 'Lightning Bolt' %}
                          <option {% if p.id == product.id %}selected{% endif %} value="{{ p.url }}">
                            {{ p.title | split: ' — ' | first }}
                          </option>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                {% endfor %}
                {% endpaginate %}
              {% endfor %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
{% endunless %}

{% if product.type == 'Sleeves' %}
<select onChange="linkToModel(this)" id="alternative-model-select">
  {% for link in linklists.mega-menu.links %}
    {% if link.title == "Shop by Device" %}
      {% if link.links != blank %}
        {% for child_link in link.links %}
          {% assign link_title_downcase = child_link.title | downcase %}
          {% if link_title_downcase contains device %}
            {% if child_link.links != blank %}
              {% for grandchild_link in child_link.links %}
                {% assign collection_name2 = grandchild_link.url | remove: '/collections/' %}
                {% paginate collection.products by 1000 %}
                {% for p in collections[collection_name2].products %}
                  {% if p.url contains title_part %}
                    <option {% if p.id == product.id %}selected{% endif %} value="{{ p.url }}">
                      {{ p.title | split: ' — ' | first }}
                    </option>
                  {% endif %}
                {% endfor %}
                {% endpaginate %}
              {% endfor %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endif %}
  {% endfor %}
</select>
{% endif %}

{% if model == "Leather Desk Pad" or model == "Leather Mouse Pad" %}
{% assign pad_collection = model | remove: "Leather " | replace: " ", "-" | append: 's' | downcase %}

<select onChange="linkToModel(this)" id="alternative-model-select">
  {{pad_collection}}
  {% paginate collection.products by 1000 %}
  {% for p in collections[pad_collection].products %}
    {% for tag in p.tags %}
      {% if tag contains "colour" %}
        {% assign color = tag | remove: "colour_" %}
      {% endif %}
    {% endfor %}
    {% if color == product.variants[0].option1 %}
      <option {% if p.id == product.id %}selected{% endif %} value="{{ p.url }}">
        {{ p.title | split: ' — ' | last }}
      </option>
    {% endif %}
  {% endfor %}
  {% endpaginate %}
</select>
{% endif %}

<script>
  function linkToModel(selectObject) {
    let value = selectObject.value;
    window.location.href = value;
  }
</script>